<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RAYSOFT </title>

    <!-- Bootstrap core CSS -->


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->

    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.slim.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body>

    <!-- Navigation -->


    <nav class="navbar navbar-expand-lg navbar-blue bg-blue fixed-top ">
        <div class="container">
            <div class="navbar_left">
                <a class="navbar-brand" href="#">RAYSOFT </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> </span> ÜYE OL </a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GİRİŞ </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ÇIKIŞ</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Footer -->
<footer class=" bg-blue">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul >
                    <li>
                        <img src="~/photo/about1.png" alt="" title="" />
                        <span>HAKKINDA</span>
                    </li>


                    <li>
                        <img src="~/photo/2features.png" alt="" title="" />
                        <span>FEATURES</span>
                    </li>



                    <li>
                        <img src="~/photo/3lock.png" alt="" title="" />
                        <span>LOGIN</span>
                    </li>

                    <li>
                        <img src="~/photo/4blog.png" alt="" title="" />
                        <span>JOURNAL</span>
                    </li>

                    <li>
                        <img src="~/photo/5photos.png" alt="" title="" />
                        <span>PHOTOS</span>
                    </li>
                    <li>
                        <img src="Content/images/icons/green/contact.png" alt="" title="" />
                        <span>CONTACT</span>
                    </li>
</div>
                        <div class="swiper-slide toolbar-icon">

                            <img src="~/photo/7shop.png" alt="" title="" /><span>SHOP</span>

                            <img src="~/photo/8music.png" alt="" title="" /><span>MUSIC</span>

                            <img src="~/photo/9form.png" alt="" title="" /><span>CUSTOM FORM</span>


                            <img src="~/photo/10twitter.png" alt="" title="" /><span>SOCIAL</span>

                            <img src="~/photo/11video.png" alt="" title="" /><span>VIDEOS</span>


                            <img src="~/photo/12phone.png" alt="" title="" /><span>CALL NOW!</span>

                        </div>

                        <!-- /.container -->
</footer>



</body>

</html>
